
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

@font-face{
    font-family:"retro" ;
    src: local ("retro")
    url(/FONTS/Retrolight.otf); 
    }

@font-face {
    font-family: "market";
    src: url(FONTS/Market_Deco.ttf);
}